@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
    transform: scale(0.9);
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes neonPulse {
  0% {
    box-shadow:
      0 0 5px #00ffff,
      0 0 10px #00ffff;
  }
  50% {
    box-shadow:
      0 0 10px #00ffff,
      0 0 20px #00ffff;
  }
  100% {
    box-shadow:
      0 0 5px #00ffff,
      0 0 10px #00ffff;
  }
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
